{% extends "base.html" %}

{% block content %}
  <section id="create">
    <form action="." method="POST">
      <input type="hidden" name="tablename" value="{{ tableName }}">
      <input type="button" value="Add field" id="add-field">
      <input type="button" value="Add constraint" id="add-constraint">

      <p>Table definition for {{ tableName }}</p>

      <fieldset>
        <table id="columns">
          <tr>
            <th>field name</th>
            <th>field type</th>
            <th>required</th>
            <th>primary key</th>
          </tr>
        </table>

        <table id="constraints">
          <tr><th>constraint</th></tr>
        </table>

        <div><input type="submit" value="Save"></div>
      </fieldset>
    </form>
  </section>
{% endblock %}


{% block scripts %}
<script src="/js/create-table.js" async defer></script>
{% endblock %}
