{% extends "base.html" %}

{% block content %}
  <section id="create">
    <form action="./{% if edit %}edit{% else %}create{% endif %}" method="POST">
      <p>Table: <a href=".">{{ tableName }}</a> (records: {{ schema.count }})</p>

      {% if query %}
      <input type="hidden" name="query" value="{{ query }}">
      {% endif %}

      <fieldset>
        <table>
        {% for col in schema %}
          {% if col.name != "id" and col.name != "count" %}
            <tr>
              <td><label for="{{ name }}-{{ col.name}}">{{ col.name }}</label></td>
              <td>
                {% if col.fk %}
                  <select id="{{ name }}-{{ col.name}}" name="{{ col.name }}" {% if col.notnull == 1 %}required{% endif %}>
                    {% for val in col.fk.values %}
                    <option
                      value="{{ val }}"
                      {% if (record and record[col.name] == val) or (record == false and val == data.preselect[col.name]) %}selected{% endif %}
                    >{{ val }}</option>
                    {% endfor %}
                  <select>
                  <a href="/table/{{ col.fk.table }}">create new</a>
                {% else %}
                  <input
                    id="{{ name }}-{{ col.name}}"
                    name="{{ col.name }}"
                    type="text"
                    value="{% if record %}{{ record[col.name] }}{% endif %}" {% if col.notnull == 1 %}required{% endif %}
                    {% if col.name in data.autofocus %}autofocus{% endif %}
                  >
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>

        <div>
          <input name="more" type="submit" value="Save and next">
          <input name="save" type="submit" value="Save">
        </div>
      </fieldset>
    </form>
  </section>

  {% if data|length != 0 %}
    <section id="data">
      <h2>Data</h2>

      <form disabled>
        <table id="data-rows">
          <thead>
            <tr>
              {% for col, val in data[0] %}
                {% if col not in data.omit %}
                  <th>{{ col }}</th>
                {% endif %}
              {% endfor %}
              <th>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
          {% for row in data %}
            <tr>
              {% for col, val in row %}
                {% if col not in data.omit %}
                  <td class="
                    {% if col in data.nowrap %}nowrap{% endif %}
                    {% if col in data.ellipsed %}ellipsed{% endif %}
                  ">
                  {% if col in data.secure %}
                    <input type="password" value="{{ val }}" style="width: {{ val|length }}em" disabled>
                  {% elif col in data.urlform %}
                    <a href="{{val}}">{{ val }}</a>
                  {% else %}
                    {{ val }}
                  {% endif %}
                  </td>
                {% endif %}
              {% endfor %}
              <td>
                <a class="large bare" title="edit" href="./?{{ row.where }}">🖉</a>
                &nbsp;
                <a class="large bare" title="delete" href="." data-confirm-href="./delete/?{{ row.where }}">🗑</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </form>
    </section>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="/js/delete-records.js" async defer></script>
  <script src="/js/sort-records.js" async defer></script>
{% endblock %}