{% extends "base.html" %}

{% block content %}
  <section id="create">
    <form action="./{% if editRecord %}edit{% else %}create{% endif %}" method="POST">
      <p>Table: <a href=".">{{ tableName }}</a> (records: {{ schema.count }})</p>

      {% if query %}
      <input type="hidden" name="query" value="{{ query }}">
      {% endif %}

      <fieldset>
        <table>
        {% for col in schema %}
          {% if col.name != "id" and col.name != "count" %}
            <tr>
              <td><label for="{{ name }}-{{ col.name}}">{{ col.name }}</label></td>
              <td>
                {% if col.fk %}
                  <select id="{{ name }}-{{ col.name}}" name="{{ col.name }}" {% if col.notnull == 1 %}required{% endif %}>
                    {% for val in col.fk.values %}
                    <option value="{{ val }}" {% if editRecord and editRecord[col.name] == val %}selected{% endif %}>{{ val }}</option>
                    {% endfor %}
                  <select>
                  <a href="/table/{{ col.fk.table }}">create new</a>
                {% else %}
                  <input id="{{ name }}-{{ col.name}}" name="{{ col.name }}" type="text" value="{% if editRecord %}{{ editRecord[col.name] }}{% endif %}" {% if col.notnull == 1 %}required{% endif %}>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>

        <div>
          <input type="submit" value="Save">
        </div>
      </fieldset>
    </form>
  </section>

  {% if data|length != 0 %}
    <section id="data">
      <h2>Data</h2>

      {% if data|length > 0 %}
        <form disabled>
          <table id="data-rows">
            <tr>
              {% for col, val in data[0] %}
              <th>{{ col }}</th>
              {% endfor %}
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>

            {% for row in data %}
              <tr>
                {% for col, val in row %}
                  <td>{{ val }}</td>
                {% endfor %}
                <td><a class="large bare" title="edit" href="./?{{ row.where }} ">🖉</a></td>
                <td><a class="large bare" title="delete" href="./delete/?{{ row.where }} ">🗑</a></td>
              </tr>
            {% endfor %}
          <table>
        </form>
      {% endif %}
    </section>
  {% endif %}
{% endblock %}
