{% extends "base.html" %}

{% block content %}
  {% for name, cols in schema %}
  <section>
    <form disabled class="schema">
      <h3><a href="/table/{{name}}">{{ name }}</a> <small>({{ cols.count }} record{% if cols.count!=1 %}s{% endif %})</small></h3>

      <fieldset>
        <table>
        {% for col in cols %}
          {% if col.name != "count" %}
            <tr>
              <td>
                <label for="{{ name }}-{{ col.name}}">{{ col.name }}</label>
              </td>
              <td>
                <span>
                  {{ col.type }}
                  {% if col.notnull==1 %}NOT NULL{% endif %}
                  {% if col.pk != 0 %}(primary){% endif %}
                  {% if col.fk %} (FK to {{ col.fk.table }}.{{ col.fk.to }}){% endif %}
                </span>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>
      </fieldset>
    </form>

    <form action="/drop" method="POST">
      <input type="hidden" name="tablename" value="{{ name }}">
      <input type="checkbox" id="delete-{{ loop.index }}" required> <label for="delete-{{ loop.index }}">delete this table</label>
      <input type="submit" value="drop table">
    </form>
  </section>
  {% endfor %}

  <form action="/create" method="GET">
    <p>Create a new table:</p>
    <input type="text" name="tablename" id="new-table" placeholder="new table name..." required>
    <input type="submit" value="Create new table">
  </form>
{% endblock %}

{% block footer %}
  <form action="/shutdown" method="post">
    <button>Shut down server</button>
  </form>
{% endblock %}